<ul class="business-container pricing-table">
  <li class="price"><%= business.name %></li>
  <li class="description"><%= business.address %></li>
  <li class="description">Additional time: <%= time_in_minutes(business.extra_duration) %></dd>
  <li class="cta-button">
    <%= form_tag('/errands', method: 'post') do %>
    <%= hidden_field_tag("errand[business_name]", business.name)%>
    <%= hidden_field_tag("errand[address]", business.address)%>
    <%= hidden_field_tag("errand[delta_duration]", business.extra_duration)%>
  <%= submit_tag("Add to Trip", class: "button radius") %></li>
  <% end %>
</ul>