<script type="text/javascript">
  var trip = <%= raw @trip.to_json.gsub('/', '\/') %>;
  var errands = <%= raw @trip.errands.to_json.gsub('/', '\/') %>;
  renderMap(trip, errands, false);
</script>

<div class="row">
  <div class="small-10 small-centered large-12 columns">
    <h1>Your trip</h1>
    <div class="trip_details row small-11 small-centered columns">
      <h2>Start point: <br/><span class="address"><%= @trip.start_point_address %></span></h2>
      <h2>Destination: <br/><span class="address"><%= @trip.end_point_address %></span></h2>
      <h2>Trip Duration:<br/><span class="address"> <%= time_in_minutes(@trip.ending_duration) %> (<%= @trip.travel_mode.downcase %>) </span></h2>
    </div>
        <%= display_flash_messages %>
  </div>
</div>

<br/>

<img src="/assets/ajax-loader.gif" id="spinner">
<h2 id="wait-message">Please wait while we fetch you some awesome options near your route.</h2>

<div id="errands-form">
  <% if @trip.reached_max_errands? %>
  <div class="row">
      <p>You have reached the maximum amount of errands. Please finalize your route to see the route.</p>
  </div>

  <div class="row">
    <ul class="button-group radius">
      <li>
      <%= link_to 'Finalize Trip', trips_finalize_path, method: "post", class: 'button radius' %>
      </li>
      <li>
      <%= render "start_over_link" %>
      </li>
    </ul>
  </div>
  <% else %>
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="row collapse">
        <form id="errand_search"action="/options" method="get">
          <div class="small-12 large-9 columns">
            <label for="category-search">Search an Errand Category:</label>
            <input class="radius" id="category-search" name="search" placeholder="e.g. Laundry, Gas, Tacos" type="text">
          </div>
          <div class="small-12 large-3 columns text-center">
            <input class="button radius" type="submit" value="Search">
          </div>
        </form>
      </div>
    </div>
    <div class="small-12 large-5 large-offset-1  text-center columns">
      <ul class="button-group radius">
        <li>
        <%= link_to 'Finalize Trip', trips_finalize_path, method: "post", class: 'button radius' %>
        </li>
        <li>
        <%= render "start_over_link" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="map-canvas" class="row small-9 small-centered large-10 columns route-map"></div>

<% unless @trip.reached_max_errands? %>
<div class="row">
  <div class="small-12 large-12 columns">
    <p class="total">
      You have added <%= @trip.errands.count %> out of <%= @trip.max_errand_limit %> total errands to your trip.
    </p>
  </div>
</div>
<% end %>

<div class="row">
  <div class="small-12 large-12 columns">
    <div class="pricing-table">
      <p class="title small-12 large-12 columns">
        Your errands:
      <ol>
      </p>
      <% if @trip.errands.empty? %>
        <li class="description small-12 large-12 columns">You have no errands!</li>
      <% else %>

        <% @trip.errands.each do |errand| %>
          <li>
          <span class="description small-12 large-12 columns">
              <%= errand.business_name %>
          </span>
          <span class="bullet-item small-12 large-12 columns">
            <%= errand.address %>
          </span>
        </li>
        <% end %>
      <% end %>
      </ol>
    </div>
  </div>
</div>
<% end %>

