<script type="text/javascript">
  var trip = <%= raw @trip.to_json.gsub('/', '\/') %>;
  var errands = <%= raw @trip.errands.to_json.gsub('/', '\/') %>;
  renderMap(trip, errands);
</script>

  <div class="row">
    <h1>Your trip</h1>
    <h3>Trip Duration: <%= time_in_minutes(@trip_duration) %></h3>
  </div>

    <div class="row" id="map-canvas"></div>
    <% if reached_max_errands? %>
    <div>
      <ol class="maximum">
        <% @trip.errands.each do |errand| %>
          <li><%= errand.business_name %> - <%= errand.address %></li>
        <% end %>

      </ol>
      <p>You have reached the maximum amount of errands. Please finalize your route to see the route.</p>
    </div>
<% else %>

    <%#= form_tag('/options', method: 'get') do %>
    <form action="/options" method="get">
      <div class="row">
        <div class="small-6 columns">
          <div class="row collapse">
            <div class="small-5 columns">
              <input name="search" placeholder="e.g. Laundry, Gas, Tacos" type="text">
            </div>
            <div class="small-1 columns">
              <input class="button" type="submit" value="Search">
            </div>
          </div>
        </div>
      </div>
  </form>
      <div class="row">
        <p>You have selected <%= @trip.errands.count %> out of 3 total errands. </p>
      </div>



<% end %>

<div class="row">
  <ul class="button-group">
    <li>
      <%= link_to 'Finalize Trip', trips_finalize_path, method: "post", class: 'button' %>
    </li>
    <li>
      <%= link_to "Start Over", new_trip_path, class: 'button' %>
    </li>
  </div>
</div>


