<script type="text/javascript">
  var trip = <%= raw @trip.to_json.gsub('/', '\/') %>;
  var errands = <%= raw @trip.errands.to_json.gsub('/', '\/') %>;
  renderMap(trip, errands, false);
</script>

<div class="row">
  <div class="small-12 large-12 columns">
      <h1>Your trip</h1>
      <%= render "headerblock" %>
      <h3>Trip Duration: <%= time_in_minutes(@trip_duration) %></h3>
  </div>
</div>


<div id="map-canvas"></div>
<% if reached_max_errands? %>
<div class="row">
    <p>You have reached the maximum amount of errands. Please finalize your route to see the route.</p>
</div>


<div class="row">
  <ul class="button-group radius">
    <li>
    <%= link_to 'Finalize Trip', trips_finalize_path, method: "post", class: 'button' %>
    </li>
    <li>
    <%= render "start_over_link" %>
    </li>
  </ul>
</div>
<% else %>
<div class="row">
  <div class="small-12 large-6 columns">
    <div class="row collapse">
      <form action="/options" method="get">
        <div class="small-12 large-9 columns">
          <input class="radius" name="search" placeholder="e.g. Laundry, Gas, Tacos" type="text">
        </div>
        <div class="small-12 large-3 columns text-center">
          <input class="button radius" type="submit" value="Search">
        </div>
      </form>
    </div>
  </div>
  <div class="small-12 large-5 large-offset-1  text-center columns">
    <ul class="button-group radius">
      <li>
      <%= link_to 'Finalize Trip', trips_finalize_path, method: "post", class: 'button' %>
      </li>
      <li>
      <%= render "start_over_link" %>
      </li>
    </ul>
  </div>
</div>
<% end %>
<ol>
  <% @trip.errands.each do |errand| %>
    <li>
        <%= errand.business_name %> -
        <%= errand.address %>
  </li>
  <% end %>
</ol>

<% unless reached_max_errands? %>
<div class="row">
  <div class="small-12 large-12 columns">
    <p>You have added <%= @trip.errands.count %> out of 3 total errands to your trip. </p>
  </div>
</div>
<% end %>