<h1>Here's your trip!</h1>
<%= render "headerblock" %><br/><br/>
<div id="map-canvas" class="row small-11 small-centered columns"></div>
<div id="directions-panel" class="row small-11 small-centered columns"></div>
<%= render "start_over_link" %>
<button id="directions" class="button">Show Directions</button>
<br/><br/>


<div class="row small-11 small-centered columns trip_details">
    <h2>Without Errands:<br/><span class="address"> <%= @trip.format_original_duration %> (<%= @trip.travel_mode.downcase %>) </span></h2>
    <h2>With Errands:<br/><span class="address"> <%= @trip.format_ending_duration %> (<%= @trip.travel_mode.downcase %>)</span> </h2>
</div>  

<br/><br/>

<div class="row small-11 small-centered columns trip_details">
    <h2>Errands on the way:</h2>
    <ol>
      <% @trip.errands.each do |errand| %>
        <li class="address"><%= errand.business_name %></li>
      <% end %>
    </ol>
  </div>
</div>


<br/><br/>
<p class="disclaimer">This trip link is yours! Bookmark it, share it, save it.</p>


<script type="text/javascript">
  var trip = <%= raw @trip.to_json.gsub('/', '\/') %>;
  var errands = <%= raw @trip.errands.to_json.gsub('/', '\/') %>;
  renderMap(trip, errands, true);
  activateDirectionsToggle();
</script>
