<script type="text/javascript">
  var trip = <%= raw @trip.to_json.gsub('/', '\/') %>;
  var errands = <%= raw @trip.errands.to_json.gsub('/', '\/') %>;
  renderMap(trip, errands, true);
</script>

<h1>Here's your trip!</h1>

<p><b>Start-point:</b> <%= @trip.start_point_address %><br/>
<b>Destination:</b> <%= @trip.end_point_address %></p>

<h3>Your errands on the way:</h3>
<ol>
  <% @trip.errands.each do |errand| %>
    <li><%= errand.business_name %></li>
  <% end %>
</ol>
<p><b>Trip Duration Without Errands:</b> <%= @trip.format_original_duration %><br><b>Trip Duration With Errands:</b> <%= @trip.format_ending_duration %></p>

<p>This trip link is yours! Bookmark it, share it, save it.</p>

<%= render "start_over_link" %>
<div id="map-canvas"></div>
<div id="directions-panel"></div>


