<h2>You Searched: <%= @search_term %></h2>
<dl>
<% @businesses.each do |business| %>
  <dt><%= business.name %></dt>
  <dd><%= business.address %></dd>
  <dd><%= time_in_minutes(business.extra_duration) %></dd>
  <%= form_tag('/errands', method: 'post') do %>
    <%= hidden_field_tag("errand[business_name]", business.name)%>
    <%= hidden_field_tag("errand[address]", business.address)%>
    <%= hidden_field_tag("errand[additional_duration]", business.extra_duration)%>
    <%= submit_tag("Choose this Business") %>
  <% end %>

<% end %>

</dl>

